.header {
  background-color: black;
  color: white; 
  width: 98%;
  text-align: center;
  padding: 1.5%;
  font-size: 35px;
}

.top {
  background-color: black;
}

.navigation {
	color: black;
	font-size: 30px;
	padding:5%;
	text-align: center;
}
